body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }  
body, button, input, select, textarea { font:12px/1.5 tahoma, arial; }  
h1, h2, h3, h4, h5, h6{ font-size:100%; }  
address, cite, dfn, em, var { font-style:normal; }  
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }  
small{ font-size:12px; }  
ul, ol { list-style:none; }  
a { text-decoration:none; }  
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; }  
sub{ vertical-align:text-bottom; }  
legend { color:#000; }  
fieldset, img { border:0; }  
button, input, select, textarea { font-size:100%; }  
table { border-collapse:collapse; border-spacing:0; }  
*{  box-sizing:border-box;}
// 初始化
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
// &#xe612;
html{
  font-size:12px;
}
body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-shrink:0;
  width:100%;
  // 移动端头部
  header{
    width:100%;
    div.title{
      font-size:(20rem/12);
      width:100%;
      height:(44rem/12);
      line-height:(44rem/12);
      background-color:#93d4d9;
      color:#fff;
      h1{
        font-weight:400;
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
      }
      span{
        float:left;
        margin-left:(10rem/12);
      }
    }
    div.nav{
      width:100%;
      ul{
        display:flex;
        justify-content:space-around;
        width:100%;
        height:(50rem/12);
        line-height:(50rem/12);
        text-align:center;
        li{
          font-size:(20rem/12);
          color:#333;
          width:20%;
          &.click{
            border-bottom:3px solid #93d4d9;
          }
        }
      }
      div.banner{
        width:100%;
        img{
          width:100%;
        }
      }
    }
  }
}
// banner图
section.menu{
  width:100%;
  border-bottom:20px solid #f5f5f5;
  div:first-child{
    width:100%;
    ul{
      display:flex;
      justify-content:space-around;
      width:100%;    
      padding-top:15px;
      li{
        width:20%;
        text-align:center;
        i{
          color:#28cad8;
          font-size:(60rem/12);
        }
        h2{
          font-weight:400;
          color:#111;
          font-size:(20rem/12);
        }
      }
    }
  }
  div.columns{
    width:100%;
    margin-top:15px;
    padding:0 10px;
    ul{
      display:flex;
      justify-content:space-around;
      width:100%;
      border-top:1px solid #ddd;
      font-size:(20rem/12);      
      padding:10px 0;
      li{
        padding-top:105px;
        width:33.33333%;
        text-align:center;
        background:url(../img/2.png) no-repeat center 15px;
        background-size:80px 80px;
        border-right:1px solid #ddd;
        &:nth-of-type(2){
          background-image:url(../img/3.png);
        }
        &:nth-of-type(3){
          background-image:url(../img/4.png);
          border:0;
        }
        h1{
          font-size:(24rem/12);    
        }
      }
    }
  }
}
// 模块
section.item{
  width:100%;
  padding:0 (10rem/12);
  border-bottom:20px solid #f5f5f5;h1{
    font-size:(26rem/12);
    line-height:(60rem/12);
    border-bottom:1px solid #ddd;
    height:(60rem/12);
    color:#686868;
    font-weight:400;
  }
  article{
    width:100%;
    padding:10px 0;
    
    table{
      width:100%;
      tbody{
        width:100%;
      }
      tr{
        width:100%;
        height:(44rem/12);
        td{
          width:35%;
          height:(55rem/12);
          border:10px solid #fff;
          background-color:#f8f8f8;
          text-align:center;
          font-size:(18rem/12);
          &.bN2{
            border-right:0;
          }
          &.bN1{
            border-left:0;
          }

          &.img{
            width:30%;
            background-color:#fbf6da;
            position:relative;
            img{
              background-color:#fbf6da;
              height:100%;
            }
            &::after{
              content:"";
              display:block;
              position:absolute;
              top:0;
              left:0;
              width:100%;
              height:100%;
              outline:1px solid #feb641;
            }
          }
        }
      }    
    }
  }
}
// 新闻
section.new{
  width:100%;
  padding:10px;
  padding-bottom:0;
  border-bottom:50px solid #f6f6f6;
  article{
    display:flex;
    flex-shrink:0;
    flex-wrap:wrap;        justify-content:space-between;
    width:100%;
    border-bottom:1px solid #ddd;
    padding:(10rem/12) 0px;
    h1{
      font-size:(22rem/12);
      color:#666;
      flex-shrink:0;
    }
    p{
      font-size:(14rem/12);
      color:#ccc;
    }
    div{
      &.img{
        display:block;
        width:30%;
        height:(100rem/12);
        text-align:center;
        background-color:#eaeceb;
        img{
          height:100%;
        }
      }
      &.content{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        padding-left:10px;
        width:70%;
      }
    }
    &.footer{
      border-bottom:0;
      h1{
        width:100%;
        margin-bottom:5px;
      }      
      div.img{
        width:33%;
        img{
          height:100%;
        }
      }
      p{
        position:relative;
        top:5px;
        line-height:(30rem/12);
      }
    }
  }
}















