body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body{
  display:flex;
  justify-content:center;
  padding-top:100px;
  section{
    form{
      display:flex;
      margin-bottom:50px;
      span{
        color:#111;
        font-weight:600;
        margin-right:50px;
        line-height:30px;
      }
      div.text{
        width:250px;
        height:30px;
        input[type="text"]{
          width:100%;
          height:100%;
          vertical-align:middle;
          border:1px solid #ccc;
          border-radius:5px;
          text-indent:10px;
        }
        p{
          font-size:10px;
          color:#ccc;
          line-height:20px;
        }
      }
      div.red{
        input[type="text"]{
          border:1px solid #d92237;
        }
        p{
          color: #d92237;
        }
      }
      div.green{
        input[type="text"]{
          border:1px solid #5db747;
        }
        p{
          color:  #5db747;
        }
      }
      input[type="submit"]{
        height:34px;
        width:50px;
        margin-left:50px;
        border:1px solid #2869a5;
        border-radius:2px;
        background-color:#347ab7;
        color:#fff;
        cursor:pointer;
      }
    }
  }
}