h1,ul,li,b,em,body,video{
    margin:0;
    padding:0;
} 
li{
    list-style:none;
}
html{
    box-sizing:border-box;
}
*,*:after,*:before{
    box-sizing:inherit;
} 
em{
    font-style:normal;
}
input{
    border:0;
    outline:0;
    -webkit-appearance: none;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    outline:0;
}
body{
    background-image:url(../img/bg.jpg);
    background-position:center top  ;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
@font-face{
    font-family:"apple";
    src:url('../css/apple.ttf');
}
//加载动画
#loading{
	background-color: #ff9311;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
}
.object{
	position: absolute;
	height: 10px;
	width: 50px;		
	background-color: #FFF;
}	
.object:nth-child(2n+0) {
	-webkit-animation: animate_right 2s infinite;
	animation: animate_right 2s infinite;
}
.object:nth-child(2n+1) {
	-webkit-animation: animate_left 2s infinite;
	animation: animate_left 2s infinite;
}		
.object:nth-child(1){
	top: 0px;
	left: 0px;	
	}
.object:nth-child(2){
	top: 0px;
	left: 50px;
	}
.object:nth-child(3){
	top: 10px;
	left: 0px;	
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;	
	}
.object:nth-child(4){
	top: 10px;
	left: 50px;
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;	
	}
.object:nth-child(5){
	top: 20px;
	left: 0px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;	
	}
.object:nth-child(6){
	top: 20px;
	left: 50px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
	}
.object:nth-child(7){
	top: 30px;
	left: 0px;	
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;		
	}
.object:nth-child(8){
	top: 30px;
	left: 50px;
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;	
	}
.object:nth-child(9){
	top: 40px;
	left: 0px;	
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}				
.object:nth-child(10){
	top: 40px;
	left: 50px;	
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}	
.object:nth-child(11){
	top: 50px;
	left: 0px;	
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
	}				
.object:nth-child(12){
	top: 50px;
	left: 50px;	
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
	}	
.object:nth-child(13){
	top: 60px;
	left: 0px;	
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
	}				
.object:nth-child(14){
	top: 60px;
	left: 50px;	
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
	}	
.object:nth-child(15){
	top: 70px;
	left: 0px;	
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
	}				
.object:nth-child(16){
	top: 70px;
	left: 50px;	
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
	}
.object:nth-child(17){
	top: 80px;
	left: 0px;	
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
	}				
.object:nth-child(18){
	top: 80px;
	left: 50px;	
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
	}
.object:nth-child(19){
	top: 90px;
	left: 0px;	
	-webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
	}				
.object:nth-child(20){
	top: 90px;
	left: 50px;	
	-webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
	}

@-webkit-keyframes animate_right {
50% {
	-ms-transform: translate(200px,-200px) rotate(180deg); 
   	-webkit-transform: translate(200px,-200px) rotate(180deg); 
    transform: translate(200px,-200px) rotate(180deg); 
  }
}

@keyframes animate_right {
50% {
	-ms-transform: translate(200px,-200px) rotate(180deg); 
   	-webkit-transform: translate(200px,-200px) rotate(180deg); 
    transform: translate(200px,-200px) rotate(180deg); 
  }
}
	


@-webkit-keyframes animate_left {
50% {
	-ms-transform: translate(-200px,-200px) rotate(180deg); 
   	-webkit-transform: translate(-200px,-200px) rotate(180deg); 
    transform: translate(-200px,-200px) rotate(180deg); 
  }
}

@keyframes animate_left {
50% {
	-ms-transform: translate(-200px,-200px) rotate(180deg); 
   	-webkit-transform: translate(-200px,-200px) rotate(180deg); 
    transform: translate(-200px,-200px) rotate(180deg); 
  }
}

//头部
header{
    font-family:"apple" !important;
    height:70px;
    padding:10px 50px;
    background:#000;
    &>div{
        height:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:1000px;
        margin:0 auto;
    }
    form{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    input{
        height:35px;
        font-size:16px;
        color:#fff;
    }
    input[type="text"]{
        width:100%;
        color:#000;
        text-indent:10px;
        transition:all 0.5s;
        background:#fff;
    }
    input[type="text"]:focus{
        box-shadow:inset 0 0 0 1000px transparent;
    }
    label{
        width:200px;
        height:35px;
        transition:width 0.3s;
    } 
    label.focus{
        width:400px;
    }
    .search ul{
        display:none;
        position:relative;
        z-index:10000;
        width:100%;
        padding:10px 0;
        background:#f1f4f7;
        overflow:hidden;
        li{
            width:100%;
            height:35px;
            line-height:35px;
            font-size:16px;
            padding:0 30px;
            color:#747989;
            cursor:pointer;
            &:hover{
                background:#111;
                color:#fff;
            }
        }
    }
    input[type="button"]{
        width:50px;
        cursor:pointer;
        background:#36cf4c;
    }
    .time{
        color:#fff;
        display:flex;
        align-items:center;
        font-size:30px;
        em{
            width:17px;
        }
        span{
            width:36px;
            text-align:center;
        }
    }
}
main{
    width:1000px;
    height:80vh;
    margin:0 auto;
    margin-top:50px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    flex-shrink:0;
    vertical-align:text-top;
    //面包屑
    .path{
        display:flex;
        align-items:center;
        i{
            color:rgba(255,255,255,0.6); 
            margin:0 5px;
            width:15px;
            height:15px;
            border:2px solid currentColor;
            border-bottom:0;
            border-left:0;
            transform:translateX(-5px) rotate(45deg);
        }
        span{
            color:rgba(255,255,255,0.6); 
            box-sizing:content-box;
            display:inline-block;
            padding:5px 10px;
            border:1px solid currentColor;
            border-radius:5px;
        }
        .city{
            color:#fff;
        }
    }
    //about
    .weather{
        color:#fff;
        .now{
            height:230px;
            >b{
                position:relative;;
                font-size:190px;
            }
            >b:after{
                content:"。";
                position:absolute;
                right:-64px;
                top:-10px;
                font-size:69px;
                font-weight:300;
            }
            span>img{
                width:100px;
                position:relative;
                bottom:-10px;
            }
            .cond{
                font-size:40px;
                font-weight:900;
                margin-right:10px;
            }
        }
    }
    //速度 风
    .about{
        height:28px;
        line-height:28px;
        font-size:20px;
        >span{
            padding-left:30px;
        }
        .hum{
            background:url(../img/sd.png)   left center no-repeat;
            margin-right:10px;
            background-size:20px;
        }
        .wind{
            background:url(../img/fx.png)   left center no-repeat;
            background-size:20px;
        }
    }
    .prompt{
        margin-top:10px;
        height:35px;
        line-height:35px;
        padding-left:10px;
        .comf{
            margin-left:20px;
        }
    }
    .forecast{
        padding-top:20px;
        display:flex;
        height:220px;
        justify-content:space-between;
        ul{
            display:flex;
            width:875px;
            height:50px;
            justify-content:space-between;
            align-items:center;
            color:#fff;
            font-size:18px;
            text-align:center;
            li{
                line-height:40px;
                height:40px;
                width:14.2%;
            }
            
        }
        ul.title{
            background:rgba(0,0,0,0.6);
            border:0;
        }
        .days{
            width:100%;
            background:rgba(0,0,0,0.2);
            height:150px;
        }
        .days ul{
            border-bottom:1px solid #7b7b7b;
        }
        .days li{
            padding:10px 0;
            line-height:30px;
        }
        .aside{
            width:125px;
            height:220px;
            img{
                height:220px;
            }
        }
    }
}
#allmap{
    display:none;
}
video{
    position: fixed;  
    right: 0;  
    bottom: 0;  
}