div.box{
    position:fixed; 
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
div.boxBorder{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:150px;
    height:150px;
    border:3px solid #FF1F8C;
    border-radius:50%;
    &::after{
        content:"";
        position:absolute;
        border-radius:50%;
        right:-3px;
        top:-3px;
        width:50px;
        height:50px;
        background:#fff;
    }
    animation:borderRotate 1.5s infinite;
    animation-timing-function:linear;
}
div.circle{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background:#FD89BD;
    width:100px;
    height:100px;
    border-radius:50%;
    animation:bgcolor 1.5s infinite;
    animation-timing-function:linear;
    overflow:hidden;
    z-index:30;
    &::before{
        content:"";
        position:absolute;
        left:-50%;
        top:0;
        width:100%;
        height:100%;
        background:#FF1F8C;
        transform-origin:center right;
        animation:rotate 1.5s infinite;
        animation-timing-function:linear;
        z-index:10;
    }
    &::after{
        content:"";
        position:absolute;
        left:50%;
        top:0;
        width:100%;
        height:100%;
        background:#FF1F8C;
        transform-origin:center left;
        animation:rotate2 1.5s infinite;
        animation-timing-function:linear;
    }
}
@keyframes rotate{
    0%{
        transform:rotate(0);
    }
    24.5%{
        background:#FF1F8C;
        opacity:1;
    }
    25%{
        background:transparent;
        opacity:0;
        transform:rotate(-180deg);
    }
    25.5%{
        transform:rotate(-360deg);
    }
    26%{
        background:#FD89BD;
        opacity:1;
    }
    50%{
        background:#FD89BD;
        opacity:1;   
        transform:rotate(-360deg);
    }
    75%{
        background:#FD89BD;
        opacity:1;   
        transform:rotate(-540deg);
    }
    100%{
        background:#FD89BD;
        opacity:1;   
        transform:rotate(-720deg);
    }
}
@keyframes rotate2{
    0%{
        transform:rotate(0);
    }
    25.5%{
        transform:rotate(0);
    }
    50%{
        transform:rotate(-180deg);
    }
    74%{
        z-index:0;
    }
    75%{
        transform:rotate(-180deg);
        z-index:20;
    }
    100%{
        transform:rotate(-180deg);
        z-index:20;
    }
}
@keyframes bgcolor{
    74.5%{
        background:#FD89BD;
    } 
    75%{
        background:#FF1F8C;
    }
    100%{
        background:#FF1F8C;
    }
}
@keyframes borderRotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(-600deg);
    }
}
